
body {
    margin: 0;
    padding: 0;
    background-image: url(https://images.rawpixel.com/image_800/czNmcy1wcml2YXRlL3Jhd3BpeGVsX2ltYWdlcy93ZWJzaXRlX2NvbnRlbnQvbHIvcm0yMjJiYXRjaDUta3VsLTAzLmpwZw.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    text-align: center;
}

h1 {
    font-size: 4rem;
    font-family: Roboto-Mono, 'Open Sans';
    font-weight: bold;
    color: #c60ecc;
    -webkit-text-stroke: .0625rem black;
}

h2 {
    margin-top: 5rem;
    font-size: 2rem;
}

.navbar ul {
    list-style: none;
    background-color: #c60ecc;
    padding: 0;
    margin: 0;
    text-align: center;
    border-bottom: 2px solid #000000;
}

.navbar li {
    display: inline-block;
}

.navbar a {
    text-decoration: none;
    color: #fff;
    width: 100px;
    display: block;
    padding: 25px 20px;
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
}

.navbar a:hover {
    background: orange;
}

img {
    width: 370px;
    height: 240px;
    margin-left: 1.25rem;
    margin-right: 1.25rem;
    margin-top: 2rem;
    border: .0125rem solid black;
}

.overview {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.benefits {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

@media only screen and (max-width: 1048px) {
    .overview img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .benefits img {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}

@media only screen and (max-width: 935px) {
    .navbar a {
        padding: 0px 0px;
    }
}